<div class="container">
    <p>Wenn Sie mit uns in Kontakt treten wollen, können Sie das über folgende Wege:</p>

<h5 class="mt-5">Postanschrift</h5>
<p>Kneiptreff<br>Bauernbräustraße 4 (Brunnenhofpassage)<br>86316 Friedberg</p>

<h5 class="mt-5">Öffnungszeiten des Kneip-Treffs</h5>
<p>jeweils dienstags von 10-12 Uhr und<br>jeden 1. Freitag im Monat von 10-12 Uhr<br>(In den Schulferien sind keine Bürozeiten.)</p>

<h5 class="mt-5">Telefon</h5>
<p>0821 248 41 85</p>

<h5 class="mt-5">EMail</h5>
<p>kneipp.ov.friedberg@gmail.com<br>info@Kneippverein-friedberg.de</p>

</div>