<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore vero, consequatur iure tempora sequi, necessitatibus tenetur nostrum soluta autem sed perferendis quam magnam quia officiis. Sapiente sint qui debitis provident.</p>
<p>Unsere jährlichen Mitgliedsbeiträge betragen:</p>
<table class="ms-5 mb-3">
    <tr>
        <td>Einzelmitgliedschaft &ensp;</td><td>€ 36,-</td>
    </tr>
    <tr>
        <td>Familienmitgliedschaft &ensp;</td><td>€ 46,-</td>
    </tr>
    <tr>
        <td>Fördermitgliedschaft &ensp;</td><td>€ 50,-</td>
    </tr>
</table>
<p>Alles, was Ihre Mitgliedschaft betrifft (Vereinsbeitritt, Änderung, Kündigung etc.) senden Sie bitte direkt an die Email-Adresse (unter „Kontakte“) oder geben es direkt im Kneipp-Büro ab (während der Öffnungszeiten oder in Postkasten). Der Austritt kann nur zum Ende eines Geschäftsjahres unter Einhaltung einer dreimonatigen Kündigungsfrist erklärt werden.
</p>
</div>