$blue1: #004f9f;
$blue2: #37bdee;
$blue3: #1881b8;




@font-face {
  font-family: 'Nebula';
  src: url(/assets/fonts/NebulaSans-Book.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nebula';
  src: url(/assets/fonts/NebulaSans-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
  min-height:100vh;
  font-family: 'Nebula';
}

::selection {
  background-color: $blue2;
}


.top-bar {
  height: 40px;
  background-color: $blue1;
  color: white;
  font-size: large;
  display: flex !important;
  align-items: center !important;
}


.flex-fill {
  flex: 1 1 auto;
}





a {
  color: $blue1;
}
a:link {
  color: $blue1;
}
a:hover {
  color: $blue2;
}
// a:visited {
//   color: $blue1;
// }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}






button[role=tab] {
  background-color: white !important;
  font-size: x-large;
  font-weight: bold;
  color: $blue3;
}

button[role=tab].active {
  background-color: $blue3 !important;

}







.display-6 {
  font-size: 2rem;
}


img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 620px) {
  img.centered {
    max-width: 70vw;
  }
}

@media screen and (min-width: 621px) {
  img.centered {
    max-width: 400px;
  }
}





.btn-outline-primary {
  color: $blue1;
  border-color: $blue1;
}
.btn-outline-primary:hover {
  background-color: $blue1;
  border-color: $blue1;
}
.btn-outline-primary:focus {
  outline: none !important;
  box-shadow: none;
}


.highlight {
  padding: 10px;
}
